@model Demo.Models.Account;
@{
    ViewData["Title"] = "Register";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Đăng Ký</h3>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li>Đăng ký</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="customer_login">
    <div class="container" >
        <div class="account_form register" >
            <h2 style="display: flex; justify-content:space-around">Register</h2>
            <form action="/Home/Register" method="post" role="form">
                <p>
                    <label>Tên <span>*</span></label>
                    <input type="text" asp-for="Name" />
                </p>
                <p>
                    <label>Địa chỉ email <span>*</span></label>
                    <input type="text" asp-for="Email" />
                </p>
                <p>
                    <label>Mật khẩu <span>*</span></label>
                    <input type="password" asp-for="Password">
                </p>
                <div class="login_submit">
                    <button type="submit">Register</button>
                </div>
            </form>

        </div>
    </div>
</div>

